<header>
  <h1>{{pageTitle}}</h1>j
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/tic-tac-toe-v3">Tic-Tac-Toe</a></p>
  <p><a href="/random-quote-generator">Random-Quote-Generator</a></p>
  <p><a href="/Pagination">Pagination</a></p>
  <p><a href="/Form-Validation">Form-Validation</a></p>
  <p><a href="/Employee-Directory">Employee-Directory</a></p>
</header>
